<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header class="jumbotron my-4">
    <h1 class="display-3">Tus Recetas</h1>
  </header>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [routerLink]="['/nueva-receta']">
		  <ion-icon name="add"></ion-icon>
		</ion-fab-button>
	  </ion-fab>
</ion-content>

<ion-footer-bar class="bar-positive">
  <div class="title">Intelligent Food</div>
</ion-footer-bar>