<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hoy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-button color="success">Success</ion-button>
  <div class="header">
    <h1>Hoy</h1>
  </div>

  <!-- fab placed to the (vertical) bottom and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer-bar class="bar-positive">
  <div class="title">Intelligent Food</div>
</ion-footer-bar>