<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hoy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header class="jumbotron my-4">
    <h1 class="display-3">Hoy</h1>
  </header>

  <div class="header">
    <h1 id="numCalorias">{{caloriasHoy}} calorías</h1>
  </div>

  <div *ngIf="consumicionesHoy.length >0">
    <ion-item>
      <ion-label>Comida</ion-label>
      <ion-label>Valor calórico</ion-label>
      <ion-label>Cantidad</ion-label>
    </ion-item>
    <ion-item *ngFor="let consumicion of consumicionesHoy">
       <ion-label *ngIf="consumicion.alimento != null">{{ consumicion.alimento.nombre }}</ion-label>
       <ion-label *ngIf="consumicion.receta != null">{{ consumicion.receta.nombre }}</ion-label>
       <ion-label *ngIf="consumicion.alimento != null">{{ consumicion.alimento.kcalorias }}Kcal</ion-label>
       <ion-label *ngIf="consumicion.receta != null">{{ consumicion.receta.kcalorias }}Kcal</ion-label>
       <ion-label *ngIf="consumicion.alimento != null">{{ consumicion.gramos_alimento }}g</ion-label>
       <ion-label *ngIf="consumicion.receta != null">{{ consumicion.gramos_receta }}g</ion-label>
     </ion-item>
    </div>

  <!-- fab placed to the (vertical) bottom and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/alimentos']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

