<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="header">
  <h1>¿Qué vas a comer?</h1>
</div>
<!--  </ion-toolbar>
<ion-searchbar placeholder="Busca tu alimento..." animated (ionChange)= searchFood($event)></ion-searchbar>
<ion-toolbar>
  -->
<ion-searchbar search-icon="d-search"></ion-searchbar>

<div class="categorias">
  
</div>
</ion-content>
