<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let alimento of alimentos">
      <ion-avatar slot="start">
        <ion-img [scr]="alimento.imagen"></ion-img>
      </ion-avatar>
      <ion-label>{{alimento.nombre}}}</ion-label>
      <ion-label>{{alimento.kcalorias}}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
  


</ion-content>



<ion-footer-bar class="bar-positive">
  <div class="title">Intelligent Food</div>
</ion-footer-bar>