<ion-header>
  <ion-toolbar>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header class="jumbotron my-4">
    <h1 class="display-3">Alimentos</h1>
  </header>

  <ion-list>
    
    <ion-item *ngFor="let alimento of alimentos">
      <ion-avatar slot="start">
        <ion-img [scr]="alimento.imagen"></ion-img> 
      </ion-avatar> 
      <ion-label>{{ alimento.nombre }}</ion-label>
      <ion-label>{{ alimento.kcalorias }}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
